<div>

    <h1> <center> Add a Project </center></h1>
    <div layout="row" layout-align="center center">
        <form ng-submit="vm.sendData(vm.genre)">
            <input type="text" class="genreInput" placeholder="Add a project" ng-model="vm.genre">
            <button >Submit</button>
        </form>
    </div>
    <div>
        <table class="container-table">
            <thead id="thead-container">
                <tr>
                    <th>Project</th>
                    <th>Total Movies</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="tbody-container">
                <tr ng-repeat="items in vm.genreList" >
                    <td>{{items.genre}}</td>
                   <td><Label>{{items.count}}</Label></td>
                    <td><button ng-click="vm.deleteGenre(items)" >Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>




